{% extends 'base/account/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid pt-4 mt-5 px-4">
    <div class="row justify-content-center g-4">
        <div class="col-sm-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Change Password</h6>
                <form method="post">
                    {% csrf_token %}
                    <div class="row col-12">
                        <div class="mb-3 col-6">
                            {{ form.old_password|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="mb-3 col-6">
                            {{ form.new_password1|as_crispy_field }}
                        </div>
                        <div class="mb-3 col-6">
                            {{ form.new_password2|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}