{% extends 'base/account/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid pt-4 mt-5 px-4">
    <div class="row justify-content-center g-4">
        <div class="col-sm-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Song</h6>
                <form method="post">
                    {% csrf_token %}
                    <div class="row col-12">
                        <div class="mb-3 col-6">
                            <label  class="form-label text-white">Old Password</label>
                            {{ form.old_password|attr:"type:password"|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="mb-3 col-6">
                            <label class="form-label text-white">New Password</label>
                            {{ form.new_password1|attr:"type:title"|add_class:"form-control" }}
                        </div>
                        <div class="mb-3 col-6">
                            <label  class="form-label text-white">Retype New Password</label>
                            {{ form.new_password2|attr:"type:title"|add_class:"form-control" }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}