{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load social_share %}
{% load static %}
{% load custom_filters %}
{% block content %}
<header class="position-fixed w-100 top-0 py-md-4 z-200">
    <nav class="header-container">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo-container">
                    <a href="javascript:void(0)" class="backtotop">
                        <img src="{{ info.header_logo.url }}" alt="" width="100" class="logo">
                    </a>
                </div>
                <div class="header-menu-container">
                    <div class="close-phone-menu">
                        <a href="javascript:void(0)" aria-label="Close Phone Menu" class="close-menu">
                            <i class="fa fa-times fa-2xl"></i>
                        </a>
                    </div>
                    <ul class="header-menu-items-container">
                        <li class="header-menu-item d-inline-block px-4">
                            <a href="javascript:void(0)" class="go-to-music phone-click-handler">
                                Music
                            </a>
                        </li>
                        <li class="header-menu-item d-inline-block px-4">
                            <a href="javascript:void(0)" class="go-to-musicvideo phone-click-handler">
                                Music Video
                            </a>
                        </li>
                        {% if gallery %}
                        <li class="header-menu-item d-inline-block px-4">
                            <a href="javascript:void(0)" class="go-to-photogallery phone-click-handler">
                                Photo Gallery
                            </a>
                        </li>
                        {% endif %}
                        <li class="header-menu-item d-inline-block px-4">
                            <a href="#contact" class="go-to-contact phone-click-handler">
                                Contact
                            </a>
                        </li>
                    </ul>
                    <div class="phone-menu-button-container d-md-none d-block">
                        <a href="javascript:void(0)" aria-label="Phone Menu" class="open-menu">
                            <i class="fa fa-list fa-xl"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="intro-container fullsize-background d-flex position-relative">
    <div class="w-50 intro-left-container"></div>
    <div class="w-50 intro-right-container d-flex align-items-center px-3">
        <div class="welcome-container w-75">
            <img src="{% static "images/main/EhsanGhorbanzadeh.svg" %}" alt="">
            <p>{{ info.description }}</p>
            <div class="social-links-container d-flex gap-4">
                {% for social in info.socials.all %}
                <span class="social-link-container">
                    <a href="{{ social.link }}" class="social-link" target="_blank" aria-label="{{ social.label }}">
                        <i class="{{ social.icon }} fa-xl"></i>
                    </a>
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
    <span class="bottom-faded-shadow position-absolute bottom-0 left-0 right-0 w-100 z-1"></span>
    <span class="go-to-next-section-container position-absolute z-1"> <a href="javascript:void(0)"
            class="go-to-next-section"></a></span>
    <span id="music" class="bottom-fake-space position-absolute bottom-0 left-0 right-0 w-100"></span>
</section>
<main>
    <section class="music fullsize-background position-relative">
        <div class="container py-md-5 py-4 position-relative z-1">
            <div class="section-container position-relative">
                <div class="section-header">
                    <img src="{% static "images/main/music.png" %}" alt="">
                </div>
                <div class="musics-container">
                    <ol>
                        {% for song in music %}
                        <li>
                            <div class="music-container rounded-3 py-3 px-4 d-flex justify-content-between mb-1 position-relative">
                                <div class="music-inner-container d-flex gap-4">
                                    <div>
                                        <a href="{% thumbnail song.image "800x800" as im %}{{ im.url }}{% endthumbnail %}" class="fancybox" data-fancybox="single-image">
                                            {% thumbnail song.image "80x80" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ song.title }}" class="rounded-3">
                                            {% endthumbnail %}
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="music-date-container">
                                            <small>{{ song.publish|date:"M d, Y" }}</small>
                                        </div>
                                        <div class="music-information-container">
                                            <h6>{{ song.title }}</h6>
                                            <small>{{ song.album }}</small>
                                            <div class="phone-player-container">
                                                <audio controls preload="none">
                                                    <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                                                </audio>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="music-options-container d-flex gap-4 align-items-center me-3">
                                    <div class="play-music-container position-relative">
                                        <audio controls preload="none">
                                            <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                                          </audio>
                                    </div>
                                    <div class="download-share-container d-flex gap-4">
                                        <div class="share-music-container">
                                            <a href="javascript:void(0)" class="open-share-nav "
                                                aria-label="Share Music">
                                                <i class="fa fa-share-alt fa-xl"></i>
                                            </a>
                                            <span
                                                class="share-this-music-container position-absolute bg-black top-0 py-2 px-2 rounded-2 z-1">
                                                <div class="social-links-container social-color d-flex gap-1 flex-column-reverse align-items-center">
                                                    {% post_to_twitter "Song: {{song.title}} By Ehsan Ghorbanzadeh" object_or_url " " "fa fa-twitter" %}
                                                    {% post_to_telegram "Song: {{song.title}} By Ehsan Ghorbanzadeh" object_or_url " " "fa fa-telegram" %}
                                                    <span class="social-link-container">
                                                        <a href="javascript:void(0)"
                                                            class="social-link close-share-nav"
                                                            aria-label="Close Share Nav">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="music-phone-options-container">
                                            <a href="javascript:void(0)" class="open-share-nav" aria-label="Open Music Options">
                                                <i class="fa fa-ellipsis-h fa-xl"></i>
                                            </a>

                                            <span
                                            class="share-this-music-container position-absolute bg-black top-0 py-2 px-2 rounded-2 z-1">
                                                <div class="social-links-container d-flex gap-1 flex-column-reverse align-items-center">
                                                    {% post_to_twitter "Song: {{song.title}} By Ehsan Ghorbanzadeh" object_or_url " " "fa fa-twitter" %}
                                                    {% post_to_telegram "Song: {{song.title}} By Ehsan Ghorbanzadeh" object_or_url " " "fa fa-telegram"%}                                  <span class="social-link-container">
                                                        <a href="javascript:void(0)"
                                                            class="social-link close-share-nav"
                                                            aria-label="Close Share Nav">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <span id="musicvideo" class="bottom-fake-space position-absolute bottom-0 left-0 right-0 w-100"></span>
    </section>
    <section class="musicvideo fullsize-background position-relative">
        <div class="container py-md-5 py-4 position-relative z-1">
            <div class="section-container position-relative">
                <div class="section-header">
                    <img src="{% static "images/main/musicVideo.png" %}" alt="">
                </div>
                <div class="musicvideos-container d-flex flex-md-row flex-column">
                    <div class="video-container w-75 video-zoom-in-container">
                        <video src="{{ video.all|get_first_url }}"  controls
                        controlsList="nodownload noremoteplayback noplaybackrate"
                        class="w-100 video-height rounded-2"></video>
                    </div>
                    <div class="list-container w-25 overflow-auto">
                        <ol class="gallery-list overflow-auto">
                            {% for clip in video %}
                            <li class="gallery-list-item w-100 d-inline-block">
                                <a href="javascript:void(0)" class="d-block mb-2">
                                    {% thumbnail clip.image "318x189" as im %}
                                        <video width="{{ im.width }}" height="{{ im.height }}" poster="{{ im.url }}" src="{{ clip.data_file.url }}"
                                        class="w-100 rounded-2 video-zoom-out">
                                        </video>
                                    {% endthumbnail %}
                                </a>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <span id="photogallery" class="bottom-fake-space position-absolute bottom-0 left-0 right-0 w-100"></span>
    </section>
{% if gallery %}
<section class="photogallery fullsize-background position-relative">
    <div class="container py-md-5 py-4 position-relative z-1">
        <div class="section-container position-relative">
            <div class="section-header">
                <img src="{% static "images/main/photoGallery.png" %}" alt="">
            </div>
            <div class="photogallery-container d-flex gap-4 flex-md-row flex-column">
                <div class="gallery-container w-75 image-zoom-in-container">
                    <img src="{{ gallery.all|get_first_url }}" alt="" class="w-100 rounded-2">
                </div>

                <div class="list-container w-25 overflow-auto">
                    <ol class="gallery-list overflow-auto">
                        {% for item in gallery %}
                            <li class="gallery-list-item w-100 d-inline-block">
                                <a href="javascript:void(0)" class="d-block mb-2">
                                    <img src="{{ item.data_file.url }}" alt="{{ item.title }}" class="w-100 rounded-2 image-zoom-out">
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <span id="contact" class="bottom-fake-space position-absolute bottom-0 left-0 right-0 w-100"></span>
</section>
{% endif %}
</main>
<footer id="contact" class="contact fullsize-background-footer">
    <div class="container d-flex flex-column justify-content-end h-100 pb-5">
        <div class="contact-container pt-5">
            <div class="contact-header mb-4">
                <p class="mb-0 text-white">Feel free to contact me.</p>
                <p class="text-white">I'll be glad to hear from you, buddy.</p>
            </div>
            <div class="contact-form-container">
                {% include 'messages.html' %}
                <form method="post" name="contact-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button type="submit" class="btn btn-primary rounded-3">Submit Now</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <span class="footer-hr d-block w-100"></span>
            <nav class="d-flex align-items-center flex-lg-row flex-column">
                <div class="footer-logo-container d-flex justify-content-lg-start justify-content-center">
                    <a href="javascript:void(0)" class="backtotop">
                        <img src="{{ info.footer_logo.url }}" alt="" width="100" class="logo">
                    </a>
                </div>
                <div class="footer-copyright-container d-flex justify-content-center">
                    <p class="mb-0">
                        <small>
                            &copy;2023 Allrights reserved for Ehsan Ghorbanzadeh
                        </small>
                    </p>
                </div>
                <div class="footer-social-links-container d-flex justify-content-lg-end justify-content-center">
                    <div class="social-links-container d-flex gap-4">
                        {% for social in info.socials.all %}
                            <span class="social-link-container">
                                <a href="{{ social.link }}" class="social-link" target="_blank" aria-label="{{ social.label }}">
                                    <i class="{{ social.icon }} fa-xl"></i>
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</footer>
{% endblock content %}