{% extends 'base/account/base.html' %}
{% load static %}
{% block content%}
<!-- Content Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-3 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-eye fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">View Count</p>
                        <h6 class="mb-0">{{ account}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-music fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Songs</p>
                        <h6 class="mb-0">{{ music }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-video fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Videos</p>
                        <h6 class="mb-0">{{ video }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-video fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total messages</p>
                        <h6 class="mb-0">{{ message }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="row justify-content-center g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">View Per Day</h6>
                    </div>
                    <canvas id="salse-revenue" width="742" height="371" style="display: block; box-sizing: border-box; height: 371px; width: 742px;"></canvas>
                </div>
            </div>
        </div>
    </div>
<script>
    window.onload = function() {
        var canvas = document.getElementById("salse-revenue");
        if (canvas) {
            var ctx2 = canvas.getContext("2d");
            var myChart2 = new Chart(ctx2, {
                type: "line",
                data: {
                    labels: [{% for view_entry in view_data %}"{{ view_entry.date|date:'l' }}",{% endfor %}],
                    datasets: [{
                        label: "View Per Day",
                        data: [{% for view_entry in view_data %}{{ view_entry.view_count }},{% endfor %}],
                        backgroundColor: "rgba(235, 22, 22, .7)",
                        fill: true
                    }]
                },
                options: {
                    responsive: true
                }
            });
        } else {
            console.log("Canvas element not found");
        }
    };
</script>
{% endblock content %}