{% extends 'base/account/base.html' %}
{% load static %}
{% block content%}
<!-- Content Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-eye fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">View Count</p>
                        <h6 class="mb-0">{{ account}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-music fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Songs</p>
                        <h6 class="mb-0">{{ music }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-video fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Today Videos</p>
                        <h6 class="mb-0">{{ video }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-envelope fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total message</p>
                        <h6 class="mb-0">{{ message }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}