{% extends 'base/account/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row justify-content-center g-4">
        <div class="col-sm-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="btn btn-dark rounded-pill mb-4">Add image to gallery</h6>
                <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3 col-xl-6">
                        <label  class="form-label text-white">Title</label>
                        {{ form.title|attr:"type:title"|add_class:"form-control" }}
                    </div>
                    <div class="mb-3 gap-5 col-12 d-inline-flex">
                    <div class="col-xl-6">
                        <label for="formFileMultiple" class="form-label text-white">Image file</label>
                        {{ form.data_file|add_class:"form-control bg-dark"|attr:"type:file" }}
                    </div>
                    </div>
                    <button type="submit" class="btn mt-3 btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}