{% extends 'base/account/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row justify-content-center g-4">
        <div class="col-sm-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Video</h6>
                <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label  class="form-label text-white">Title</label>
                        {{ form.title|attr:"type:title"|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label  class="form-label text-white">Album</label>
                        {{ form.album|attr:"type:title"|add_class:"form-control" }}
                    </div>
                    <div>
                        <label for="formFileMultiple" class="form-label text-white">Cover</label>
                        {{ form.image|add_class:"form-control bg-dark"|attr:"type:file" }}
                    </div>
                    <div>
                        <label for="formFileMultiple" class="form-label text-white">File</label>
                        {{ form.data_file|add_class:"form-control bg-dark"|attr:"type:file" }}
                    </div>
                    <div class="mb-3">
                        <label  class="form-label text-white">Publish</label><br>
                        {{ form.publish|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label  class="form-label text-white">Status</label><br>
                        {{ form.status|add_class:"form-select" }}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Create / Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}