{% load static %}
<!-- Spinner Start -->
<div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Admin Panel</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{% static 'account/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{% if user.get_full_name %}{{ user.get_full_name|title }}{% else %}{{ user.username|title }}{% endif %}</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="{% url 'account:dashboard' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'gallery' %}active show{% elif request.resolver_match.url_name == 'gallery_create' %}active show{% endif %}" data-bs-toggle="dropdown" aria-expanded="{% if request.resolver_match.url_name == 'gallery' %}true{% elif request.resolver_match.url_name == 'gallery_create' %}true{% else %}false{% endif %}"><i class="fa fa-image me-2"></i>Gallery</a>
                <div class="dropdown-menu bg-transparent border-0 {% if request.resolver_match.url_name == 'gallery' %}show{% elif request.resolver_match.url_name == 'gallery_create' %}show{% endif %}">
                    <a href="{% url 'account:gallery' %}" class="dropdown-item {% if request.resolver_match.url_name == 'gallery' %}active{% endif %}">Gallery List</a>
                    <a href="{% url 'account:gallery_create' %}" class="dropdown-item {% if request.resolver_match.url_name == 'gallery_create' %}active{% endif %}">Add Image</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'songs' %}active show{% elif request.resolver_match.url_name == 'song_create' %}active show{% elif request.resolver_match.url_name == 'song_update' %}active show{% endif %}" data-bs-toggle="dropdown" aria-expanded="{% if request.resolver_match.url_name == 'songs' %}true{% elif request.resolver_match.url_name == 'song_create' %}true{% elif request.resolver_match.url_name == 'song_update' %}true{% else %}false{% endif %}"><i class="fa fa-music me-2"></i>Songs</a>
                <div class="dropdown-menu bg-transparent border-0 {% if request.resolver_match.url_name == 'songs' %}show{% elif request.resolver_match.url_name == 'song_create' %}show{% elif request.resolver_match.url_name == 'song_update' %}show{% endif %}">
                    <a href="{% url 'account:songs' %}" class="dropdown-item {% if request.resolver_match.url_name == 'songs' %}active{% endif %}">Songs List</a>
                    <a href="{% url 'account:song_create' %}" class="dropdown-item {% if request.resolver_match.url_name == 'song_create' %}active{% endif %}">Add Song</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'videos' %}active show{% elif request.resolver_match.url_name == 'video_create' %}active show{% elif request.resolver_match.url_name == 'video_update' %}active show{% endif %}" data-bs-toggle="dropdown" aria-expanded="{% if request.resolver_match.url_name == 'videos' %}true{% elif request.resolver_match.url_name == 'video_create' %}true{% elif request.resolver_match.url_name == 'video_update' %}true{% else %}false{% endif %}"><i class="fa fa-video me-2"></i>Videos</a>
                <div class="dropdown-menu bg-transparent border-0 {% if request.resolver_match.url_name == 'videos' %}show{% elif request.resolver_match.url_name == 'video_create' %}show{% elif request.resolver_match.url_name == 'video_update' %}show{% endif %}">
                    <a href="{% url 'account:videos' %}" class="dropdown-item {% if request.resolver_match.url_name == 'videos' %}active{% endif %}">Videos List</a>
                    <a href="{% url 'account:video_create' %}" class="dropdown-item {% if request.resolver_match.url_name == 'video_create' %}active{% endif %}">Add Video</a>
                </div>
            </div>
            <a href="{% url 'account:message' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'message' %}active{% elif request.resolver_match.url_name == 'message_update' %}active{% endif %}"><i class="fa fa-envelope me-2"></i>Messages</a>
            <a href="{% url 'account:info' pk=1 %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'info' %}active{% endif %}"><i class="fa fa-table me-2"></i>Information</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->


<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control bg-dark border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="{% static 'account/img/User.jpg' %}" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">{% if user.get_full_name %}{{ user.get_full_name|title }}{% else %}{{ user.username|title }}{% endif %}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>